body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 250px;
    background-color: #150600;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    color: #FEFFFA;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
}

.nav-sections li img {
    margin-right: 10px;
    width: 20px; 
    height: auto;
}

.logo {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;

}

.nav-sections {
    list-style: none;
    padding-left: 30px;
    width: 100%;
}


.nav-sections li {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: transform 0.3s ease;
    transform-origin: center;
    cursor: pointer;
}

.nav-sections li:hover{
    text-decoration: underline;
    transform: scale(1.10);
}


.nav-sections li a {
    text-decoration: none;
    color: #FEFFFA;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.content {
    padding-left: 450px;
    padding-top: 250px;
    width: 100%;
    font-size: 80px;
    font-family: "Plus Jakarta Sans";
    align-items: center;
    justify-content: center;
}
