
body {
    margin: 0;
    background-color: #FEFFFA;
}
.wrapper{
    padding-bottom: 20px;
    font-family: "Plus Jakarta Sans";
}
.wrapper p{
    padding: 0;
}
.sidebar {
    width: 250px;
    background-color: #150600;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    color: #FEFFFA;
    font-family: "Plus Jakarta Sans";
    font-size: 12px;
    font-weight: 400;
}

.nav-sections li img {
    margin-right: 10px;
    width: 20px; 
    height: auto;
}

.logo {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.nav-sections {
    list-style: none;
    padding-left: 30px;
    width: 100%;
}
.underline{
    text-decoration: underline;

}

.nav-sections li {
    width: 100%;
    text-align: start;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: transform 0.3s ease;
    transform-origin: center;
}
.nav-sections li:hover{
    text-decoration: underline;
    transform: scale(1.10);
}


.nav-sections li a {
    text-decoration: none;
    color: #FEFFFA;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

.title{
    color: #150600;
    font-family: "Plus Jakarta Sans";
    font-size: 45px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
    padding-bottom: 40px;
}

.content{
    padding-left: 400px;
    padding-top: 35px;
    padding-bottom: 100px;
}

.search{
    padding-bottom: 40px;
    padding-top: 10px;
}
.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #150600;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
}

.search-input {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
  background-color: #FEFFFA;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-right: 15px;
}

.edit{
    padding-bottom: 40px;
    padding-top: 10px;
}
.edit-container {
  display: flex;
  align-items: center;
  border: 2px solid #150600;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
}

.edit-input {
  flex: 1;
  border: none;
  padding: 8px;
  outline: none;
  background-color: #FEFFFA;
}

.button-save{
    background-color: #150600;
    justify-content: center;
    align-items: center;
    width: 82%;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    text-align: center; 
}

.button-save:hover{
    background-color: rgb(175, 171, 171);
    transform: scale(0.97);
}
.button-save a{
    text-decoration: none;
    color: #FEFFFA;
    text-align: center;  
}

.copywrite {
    position: relative;
    height: auto;
    color:#E9B47F;
}
.copywrite p{
    font-size: 12px;
    padding-left: 10px;
}
footer{
    background:#150600;
    padding: 60px;
    font-family:"Plus Jakarta Sans";
    padding-left: 300px;
}
footer a{
    text-decoration: none;
    color:#E9B47F;
}
footer h3{
    color: #E9B47F;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin: 16px;
}

footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
footer .form {
    margin-left: 20px;
    margin-top: 16px;
}
footer .input{
    font-family: "Inria Serif";
    font-size: 16px;
    line-height: 200%;
    border-radius: 60px;
    color: #E9B47F;
}
footer .by{
    font-size: 14px;
}
.submit-button{
    border-radius: 20px;
}
.links-container .links ul li:hover a {
    color: #e3d7ca; 
    transition: color 0.3s;
}